/* General styling that applies to the page as a whole 
and individual elements and containers */
* {
    box-sizing: border-box;
    margin: auto;
    width: 600px;
    color: #4c2a72;
}

body {
    background-color: #F7AEF8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}

main {
    background-color: #CFEBB7;
}

header, footer {
    text-align: center;
    background-color: #E9EDE6;
}

img {
    display: block;
    width: 420px;
    padding-top: 10px;    
}

p {
    max-width: 410px;
    margin-bottom: 15px;
}

ol {
    margin: 15px 120px;
}

ul li {
    height: 30px;
    padding: 15px;
    background-color: #F7AEF8;
    display: inline;
    margin-left: 50px;
    
}

article {
    padding: 15px 25px;
}

hr {
    max-width: 550px;
    border-top: 2px solid #4c2a72;
}

article h3 {
    padding: 20px;
}

section {
    margin-bottom: 10px;
}

footer {
    font-weight: bold;
}

nav {
    padding: 10px;
    width: fit-content;
    margin-top: 15px;
}

nav a {
    padding: 15px;
}

/* Pseudo-classes styling */

a:link {
    background-color: #F7AEF8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

a:visited {
    color: #9a27cf;
}

a:hover {
    color: #c630c9;
    text-decoration: none;
}

a:active {
    color: orange;
}
